#toolbar {
  width: 14%;
  height: 90vh;
  float: left;
  border: 2px solid #ccc;
  background-color: #000435;
  padding: 5px;
}

#content {
  width: 84%;
  height: 90vh;
  float: right;
  border: 2px solid #ccc;
  background-color: #e0e0e0;
}


.draggable-element {
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  background-color: #1E90FF;
  color: white;
  border: 1px solid #333;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.column {
  box-sizing: border-box;
  float: left;
  width: 42%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #e0e0e0;
}

.column:nth-child(2n) {
  margin-left: 2%;
}

#buttons {
  position: absolute;
  top: 20px;
  right: 20px;
}

#publish-button{
  margin: 5px;
  background-color: #FFFFFF;

}
#preview-button {
  margin: 5px;
  background-color: #FFFFFF;
}
